/* You can add global styles to this file, and also import other style files */

.date {
    padding-top: 10px;
    padding-right: 0.5em;
    text-align: right;
    font-style: italic;
    font-weight:500;
    color: darkgrey;
  }